@model ICollection<DAL.ViewModel.BillDetailViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết hoá đơn</h1>

<div>

    <hr />
   <table class="table table-striped">
       <thead>
           <tr>
              
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Đơn giá
                </th>
                <th>
                    Thành tiền
                </th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in Model)
            {
                <tr>
                    
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.TotalPrice
                    </td>
                </tr>
            }

       </tbody>
   </table>
</div>
<div>
 
    <a asp-action="ListBill">Back to List</a>
</div>
