@model IEnumerable<DAL.Models.Bill>

@{
    ViewData["Title"] = "ListBill";
}

<p class="text-center"><h1>Danh sách hóa đơn</h1></p>


<table class="table">
    <thead>
        <tr>
            <th>
              <label class="form-label">ID</label>
            </th>
            <th>
                <label class="form-label">Ngày mua</label>
            </th>
            <th>
                <label class="form-label">Thành tiền</label>
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.BuyDate.ToString("HH:mm dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                    <a asp-action="Details" asp-controller="Bill" class="btn btn-primary" >Xem hóa đơn</a>
                    <a asp-action="HuyBill" asp-controller="Bill" asp-route-id ="@item.Id" class="btn-danger btn">Huỷ</a>
                    <a class="btn-success btn">Mua lại</a>
                    
                   
                    @* ksdfa *@
            </td>
        </tr>
}
    </tbody>
</table>
